@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/*Geral*/

*{
    padding: 0;
    border: 0;
    scrollbar-width: none;
}

section{
    margin-top: 70px;
    padding: 30px;
}

section h1{
    text-align: center;
    font-size: 30px;
}

/*=====================================================*/
/*Header*/

header{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    background: #f8f8f8;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

header h1 {
    margin: 0px 15px;
    font-size: 20px;
    flex-grow: 1;
}
        
header ul{
    display: flex;
    margin: 0;
    padding: 15px;
    font-size: 15px;
    
}
header button{
    font-size: 15px;
    list-style: none;
    margin: 0px 15px;
    background: none;
}

/*=====================================================*/
/*Home*/

.home{
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.home > div{
    justify-content: center;
    align-content: stretch;
}

.home div{
    height: 400px;
    width: auto;
    font-size: 35px;
}

.home h1, .home h2{
    font-family: 'Handjet', sans-serif;
}

.socialMidia img{
    margin-top: 30px;
    width: 50px;
    height: auto;
    padding: 12px;
}

.socialMidia img:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
}

.socialMidia:link,
.socialMidia:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.socialMidia img:active {
  transform: translateY(-1px);
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
}

.home .imagemHome{
    width: 600px;
    height: auto;
    filter: drop-shadow(2.4px 2.4px 3.2px rgba(0, 0, 0, 0.15));
}

/*=====================================================*/
/*Sobre*/

#Sobre{
    align-items: center;
    text-align: center;
}

#Sobre h1, 
#Sobre p, 
#Sobre a{
    font-size: 30px;
}

.softwares div{
    display:grid;
    justify-content: space-around;
    padding: 20px;
}

.softwares .skills{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
}

.softwares .Learn{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
}

.softwares img{
    width: 60px;
    height: auto;
    margin: 5px;
}

.softwares .skills img{
    align-items: stretch;
}

.softwares .Learn img{
    align-items: stretch;
}

/*=====================================================*/
/*Footer*/

footer{
    background: #8f4478;
    width: 100%;
    height: auto;
    left: 0;
    position: absolute;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer .rodaPe{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

footer .rodaPe a{
    font-size: 15px;
}

footer .cursosRodaPe{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

footer .cursosRodaPe .cursFooter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .cursosRodaPe .cursFooter div{
    display: grid;
    justify-items: center;
    text-align: center;
    margin: 10px;
}

footer .contatoRodaPe{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

footer .contatoRodaPe .contFooter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .contatoRodaPe .contFooter div{
    display: grid;
    
}

footer div img{
    height: 50px;
    width: auto;
}